/*
  Name: Winston Wihono
  Date: 3/27/2024
  Section: AF Ella Crowder

  This is the stylesheet page. This page contains all the design elements that impact the visual
  aspect of my portfolio website.
*/

/*
  Note: This body rule set is to get you started and does not count towards the CP1 requirements.
  Feel free to change or remove any of these rules.
*/
body {
  background-color: rgb(156, 166, 243);
  font-family: "Franklin Gothic Medium", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#name {
  font-size: xx-large;
  text-decoration: wavy;
  border: black solid 5px;
  background-image: url("donuts.jpg");
}

.description {
  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
  color: black;
  font-size: medium;
}

img {
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 6px;
  width: 360px;
  height: 360px;
}

#me {
  margin-left: 0px;
  margin-bottom: 0%;
}

.style {
  display: inline-block;
  block-size: auto;
  margin-block: 25px;
  font-size: large;
  border: 2.5px solid black;
  padding: 10px;
  background-color: beige;
  margin-top: 10px;
}

#skills {
  display: block;
}

#experiences {
  display: contents;
  font-size: x-large;
  list-style-type: none;
}